<div>
  <app-top-bar></app-top-bar>
</div>
<div class="row" style="background: #fcfcfc">
  <div class="col-md-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-md-10 scrollable-section" style="font-family: 'Poppins', sans-serif">
    <div class="row col-md-12 mt-5 mb-4">
      <div class="col-md-4" [routerLink]="['/dashboard']">
        <div class="card card-body round me-5 ms-4 shadow" style="border: none">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-solid fa-layer-group fa-2xl"></i>
            </div>
            <div class="col-md-10">
              <div><h1><strong>{{totalGroupsCount}}</strong></h1></div>
              <div><h6><strong>Total Groups</strong></h6></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" [routerLink]="['/users']">
        <div class="card card-body round me-5 ms-4 shadow-lg" style="border: none">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-solid fa-users fa-2xl"></i>
            </div>
            <div class="col-md-10">
              <div><h1><strong>{{totalUsersCount}}</strong></h1></div>
              <div><h6><strong>Total Users</strong></h6></div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-md-4" [routerLink]="['/user-approval-request']">-->
<!--        <div class="card card-body shadow round me-5 ms-4" style="border: none">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2 d-flex align-items-center justify-content-center">-->
<!--              <i class="fa fa-solid fa-user-plus fa-2xl"></i>-->
<!--            </div>-->
<!--            <div class="col-md-10">-->
<!--              <div><h1><strong>{{pendingUsersCount}}</strong></h1></div>-->
<!--              <div><h6><strong>New Request</strong></h6></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <div class="pe-4">
      <div class="card card-body shadow ms-4 me-5" style="border: none">
        <h5><strong>All Posts</strong></h5>
        <table class="table table-borderless table-hover">
          <thead class="border-bottom">
            <tr>
              <th>S.N.</th>
              <th>Title</th>
              <th>Author</th>
              <th>Group</th>
              <th>Created Date</th>
              <th>Vote</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of totalPosts | paginate: { itemsPerPage: 2, currentPage: p }; let i = index">
            <ng-container>
              <td>{{((p - 1) * 10) + (i + 1)}}</td>
              <td>{{post.postName}}</td>
              <td>{{post.userName}}</td>
              <td>{{post.subGroupName?.name}}</td>
              <td>{{post.createdDate | date:'MMM dd, yyyy | hh:mm:ss a'}}</td>
              <td>{{post.voteCount}}</td>
              <td [ngStyle]="{ 'color' : post.is_completed ? 'green' : '#3d5af1' }"><strong>{{post.is_completed ? 'Completed' : 'Pending'}}</strong></td>
            </ng-container>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end me-5">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
