/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
.ngx-toastr {
  width: 1000px !important;
  font-size: large;
}

html, body {
  width: 100%;
  height: auto;
}
