<div class="top-bar navbar navbar-dark sticky-top shadow-sm">
  <div class="col-md-2 ms-lg-2">
    <div class="row">
      <div class="col-md-3 d-flex">
        <!--        align-content-center-->
        <!--        justify-content-end-->
        <span style="margin-top: 0.5rem; margin-left: 0.2rem">
          <img src="../assets/logoz.png" width="115px" height="65px">
        </span>
      </div>
      <div class="col-md-6 d-flex ms-lg-5">
        <!--        align-content-center-->
        <div style="margin-top: 0.4rem;">
          <!--        margin-left: -1rem"-->
          <span>
          <h4><strong>STUDY<strong style="color: #3d5af1">SYNC</strong></strong></h4>
          </span>
          <p style="margin-top: -0.5rem; font-size: 14px">A Knowledge Sharing Platform For Students</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex">
    <!--    justify-content-center-->
    <input class="w-50 form-control"
           style="background: #f3f3f3; margin-top: -1rem; border: none; font-family: 'Font Awesome 5 Free'"
           type="text"
           placeholder="Search ..."
           aria-label="Search">
  </div>
  <!--  <div class="col-md-3 text-start">-->
  <!--    <div class="row" style="margin-left: 8rem; margin-top: -1rem" [routerLink]="['/account']">-->
  <!--      <div class="col-md-4 text-end"><button class="border-0" style="border-radius: 100%; width: 50px; height: 50px; font-size: xx-large; background: #787d83; color: #202226"><strong>{{currentUser.charAt(0) | titlecase}}</strong></button></div>-->
  <!--      <div class="col-md-8" style="margin-left: -10px; cursor: pointer">-->
  <!--          <span style="color: #211414">-->
  <!--            <ng-container *ngIf="isAdmin; else el">-->
  <!--            <h5>ADMIN</h5>-->
  <!--            </ng-container>-->
  <!--            <ng-template #el>-->
  <!--              <h5>USER</h5>-->
  <!--            </ng-template>-->
  <!--          </span>-->
  <!--        <h6 class="text-capitalize" style="margin-top: -5px; color: #211414">{{currentUser}}</h6>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
